$darkerGradient: #9b59b6;
$lighterGradient: #c695dd;
$mainTypo: "Cookies";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

.background-class {
  height: 100%;
  background: rgb(51, 20, 62);
  background: linear-gradient(
    90deg,
    rgba(51, 20, 62, 1) 0%,
    rgba(155, 89, 182, 1) 50%,
    rgba(51, 20, 62, 1) 100%
  );
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  background: linear-gradient($lighterGradient, $darkerGradient);
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
  height: 100vh;
}

.popcornBackground {
  height: 100%;
  width: 100%;
  background-image: url("./assets/Home/popcorn.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: left -20vw bottom 2vh;
}

@media screen and (max-height: 600px) {
  .popcornBackground {
    background-position: left -100px bottom -200px;
  }
}

.mainTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65%;
}

.mainTitle {
  padding-bottom: 5%;
}

.boiteFanion {
  position: relative;
  overflow: hidden;
  height: 90px;
  display: flex;
  justify-content: center;
  z-index: 1;

  .fanion {
    height: 100%;
  }
  .catchphrase {
    position: absolute;
    height: 35px;
    bottom: 10px;
  }
}

.startButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
}

// .popcorn {
//   position: absolute;
//   bottom: 0;
//   width: 60%;
//   height: 100%;
//   overflow: hidden;
//   margin: 0px;
//   background-color: red;

//   img {
//     height: 70%;
//     position: absolute;
//     left: -270px;
//     bottom: -310px;
//     opacity: 40%;
//     z-index: 0;
//   }
// }

.mainTitle {
  color: white;
  font-family: $mainTypo;
  font-weight: 800;
  font-size: 5.5em;
  text-align: center;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.25);
}

.mainTitle h1:nth-child(1) {
  position: relative;
  transform: rotate(-8.5deg);
  margin-bottom: -15px;
}
