$darkerGradient: #9b59b6;
$lighterGradient: #c695dd;
$mainTypo: "Cookies";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

.background-class {
  height: 100%;
  background: rgb(51, 20, 62);
  background: linear-gradient(
    90deg,
    rgba(51, 20, 62, 1) 0%,
    rgba(155, 89, 182, 1) 50%,
    rgba(51, 20, 62, 1) 100%
  );
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  background: linear-gradient($lighterGradient, $darkerGradient);
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
  height: 100vh;
  overflow: auto;

  .discoverOrPlay {
    color: white;
    font-family: $mainTypo;
    font-weight: 800;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.25);
  }
}

.popcornBackground {
  height: 100%;
  width: 100%;
  background-image: url("./assets/Home/popcorn.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: left -20vw bottom 2vh;
}

@media screen and (max-height: 600px) {
  .popcornBackground {
    background-position: left -200% bottom -20%;
  }
}

.mainTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.boiteFanion {
  position: relative;
  overflow: hidden;
  height: 90px;
  display: flex;
  justify-content: center;
  z-index: 1;

  .fanion {
    height: 100%;
  }
  .catchphrase {
    position: absolute;
    height: 100%;
    max-height: 35px;
    bottom: 10px;
  }
}

.startButtonDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: 40%;
  padding-bottom: 20%;
  // background-color: lightblue;
}

.mainTitle {
  color: white;
  font-family: $mainTypo;
  font-weight: 800;
  font-size: 5.5em;
  text-align: center;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.25);
  padding-bottom: 5%;
}

.mainTitle h1:nth-child(1) {
  position: relative;
  transform: rotate(-8.5deg);
  margin-bottom: -15px;
}

@media screen and (max-height: 700px) {
  .mainTop {
    padding-top: 10%;
  }
  .mainTitle {
    font-size: 4em;
  }
  .startButtonDiv {
    // height: 20%;
    // background-color: lightblue;
    padding-bottom: 5%;
  }
  .boiteFanion {
    height: 75px;
    .catchphrase {
      height: 30px;
    }
  }
}
