.avatarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-wrap: wrap;
  width: 100vw;
  height: 400px;
  max-width: 100vh;
  margin: 0 auto;
  background: linear-gradient(#eadaf4, #dbbdea);
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border: 1px solid white;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  position: fixed;
  ms-overflow-style: none;
  scrollbar-width: none;
}

.avatarContainer::-webkit-scrollbar {
  display: none;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  margin: 5px 5px 0 5px;
}

.avatar button {
  background: none;
  cursor: pointer;
  object-fit: contain;
  transition: 0.15s;
  margin: 1% 1% 1% 1%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &:hover {
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.15);
  }
}

.avatar button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.avatar Img {
  height: 100%;
  max-width: 120px;
  max-height: 120px;
}
