.gameMode {
  font-family: $mainTypo;
  display: flex;
  flex-direction: column;
  height: 100%;

  .mainTitleModeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13%;
    // background-color: lightgoldenrodyellow;
  }

  .h1GameMode {
    color: white;
    font-family: $mainTypo;
    font-weight: 800;
    font-size: 250%;
    text-align: center;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.25);
  }

  #tilted {
    position: relative;
    transform: rotate(-8.5deg);
    margin-bottom: -15px;
  }
  //##
  .avatarPseudo {
    height: 37%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: #783c8f;

    p {
      color: white;
      align-self: left;
      font-size: 1.8rem;
      padding: 0% 0 2% 0;
    }

    input {
      color: #552e61;
      font-size: 1.5rem;
      padding: 6px;
      background: white;
      height: 70px;
      width: 50vw;
      max-width: 300px;
      border-radius: 30px;
      border: 8px solid $buttonColor;
      box-shadow: 4px 4px 17px 4px rgba(0, 0, 0, 0.25);
      outline: none;
    }

    .generic {
      color: $lighterGradient;
    }

    .custom {
      color: #552e61;
    }
  }

  .avatarButton {
    display: flex;
    justify-content: center;
    outline: 8px solid #783c8f;
    background-color: $buttonBackColor;
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
    border-radius: 100px;
    margin: 0% 0 0% 0;
    box-shadow: 0px 0px 17px 4px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
    overflow: hidden;

    &:hover {
      box-shadow: 0px 0px 25px 8px rgba(0, 0, 0, 0.25);
    }
  }

  .avatarButton img {
    width: 90%;
    height: 120%;
    object-fit: contain;
    margin-top: 5px;
  }

  #AvatarPlaceholder {
    width: 80%;
    height: 120%;
    object-fit: contain;
  }

  .pseudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 0 0 0;
    margin: 2% 0 0 0;
  }

  .avatarPseudo input {
    text-align: center;
  }

  .genreContainerHidden {
    display: none;
  }

  .genreContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    padding: 0 0 2% 0;

    p {
      color: white;
      align-self: left;
      font-size: 1.8rem;
      padding: 0% 0 2% 0;
    }
  }
  //##
  .genreTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: limegreen;

    p {
      padding: 5% 0 0 0;
      margin-bottom: 2%;
      animation: fadein 0.2s;
    }
  }

  .genre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    animation: fadein 0.4s;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
      transform: scale(1.4);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  #genre {
    color: #552e61;
    background-color: $buttonBackColor;
    font-weight: 200;
    font-size: 1.4em;
    border-radius: 30px;
    border-bottom: 8px solid $buttonColor;
    width: 150px;
    max-width: 300px;
    height: 80px;
    margin: 2%;
    transition: 0.15s;

    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(1.15);
    }
  }

  .difficultyContainerHidden {
    display: none;
  }

  .difficultyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    padding: 0 0 2% 0;

    p {
      color: white;
      align-self: left;
      font-size: 1.8rem;
      padding: 0% 0 2% 0;
    }
  }

  .difficultyTitle {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      padding-top: 5%;
      animation: fadein 0.2s;
    }
  }

  .difficulty {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    animation: fadein 0.4s;
  }

  #difficulty {
    color: #552e61;
    background-color: $buttonBackColor;
    font-weight: 200;
    font-size: 1.5em;
    border-radius: 30px;
    border-bottom: 8px solid $buttonColor;
    width: 200px;
    max-width: 300px;
    height: 80px;
    margin: 1%;
    transition: 0.15s;

    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(1.15);
    }
  }
}
//##
// @media screen and (max-width: 700px) and (min-height: 500px) and (max-height: 700px) {
// @media screen and (max-height: 700px) {
//   .gameMode {
//     padding-top: 15%;
//     background-color: lightblue;
//     .avatarPseudo {
//       height: 20%;

//       input {
//         height: 50px;
//       }
//     }
//     .avatarButton {
//       width: 90px;
//       height: 90px;
//     }
//     .pseudo p {
//       font-size: 1.3em;
//     }
//     .difficultyContainer,
//     .genreContainer {
//       height: 30%;

//       p {
//         font-size: 1.2rem;
//       }
//     }
//     #difficulty,
//     #genre {
//       height: 50px;
//       border-bottom: 6px solid $buttonColor;
//       font-size: 1em;
//       margin: 2%;
//       width: 110px;
//     }
//     .genre {
//       width: 70%;
//     }
//   }
// }

@media screen and (max-height: 449px) {
  .gameMode {
    // padding-top: 5%;

    .mainTitleModeContainer {
      height: 20%;
      // background-color: lightcoral;
    }
    .avatarPseudo {
      height: 35%;
      input {
        height: 50px;
        font-size: 1.2em;
      }
    }
    .avatarButton {
      width: 50px;
      height: 50px;
      min-width: 50px;
      min-height: 50px;
    }
    .avatarContainer {
      height: 60%;
      width: 100%;
    }
    .pseudo p {
      font-size: 1.2em;
    }
    .difficultyContainer,
    .genreContainer {
      height: 40%;

      p {
        font-size: 1.2rem;
      }
    }
    #difficulty,
    #genre {
      height: 40px;
      width: 100px;
      border-bottom: 6px solid $buttonColor;
      font-size: 0.9em;
    }
  }
}

@media screen and (min-height: 450px) and (max-height: 700px) {
  .gameMode {
    // padding-top: 5%;
    .genreTitle {
      margin: 10% 0 0 0;
    }
    .mainTitleModeContainer {
      height: 20%;
      // background-color: lightcoral;
    }
    .avatarPseudo {
      height: 35%;
      input {
        height: 50px;
        font-size: 1.2em;
      }
    }
    .avatarButton {
      width: 100px;
      height: 100px;
      min-width: 100px;
      min-height: 100px;
    }
    .avatarContainer {
      height: 40%;
      width: 100%;
    }
    .pseudo p {
      font-size: 1.2em;
    }
    .difficultyContainer,
    .genreContainer {
      height: 40%;

      p {
        font-size: 1.2rem;
      }
    }
    #difficulty,
    #genre {
      height: 40px;
      width: 100px;
      border-bottom: 6px solid $buttonColor;
      font-size: 0.9em;
    }
  }
}

@media screen and (min-width: 500px) {
  .genreTitle {
    width: 60%;
    margin: 5% 0 0 0;
  }
}
