.gameMode {
  font-family: $mainTypo;
  display: flex;
  flex-direction: column;
  height: 100%;

  .mainTitleModeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13%;
  }

  .h1GameMode {
    color: white;
    font-family: $mainTypo;
    font-weight: 800;
    font-size: 250%;
    text-align: center;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.25);
  }

  #tilted {
    position: relative;
    transform: rotate(-8.5deg);
    margin-bottom: -15px;
  }

  .avatarPseudo {
    height: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      color: white;
      align-self: left;
      font-size: 1.8rem;
      padding: 0% 0 2% 0;
    }

    input {
      color: #552e61;
      font-size: 1.5rem;
      padding: 6px;
      background: white;
      height: 70px;
      width: 50vw;
      max-width: 300px;
      border-radius: 30px;
      border: 8px solid $buttonColor;
      box-shadow: 4px 4px 17px 4px rgba(0, 0, 0, 0.25);
      outline: none;
    }
  }

  .avatarButton {
    display: flex;
    justify-content: center;
    outline: 8px solid #783c8f;
    background-color: $buttonBackColor;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    margin: 0% 0 0% 0;
    box-shadow: 0px 0px 17px 4px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
    overflow: hidden;

    &:hover {
      box-shadow: 0px 0px 25px 8px rgba(0, 0, 0, 0.25);
    }
  }

  .avatarButton img {
    width: 90%;
    height: 120%;
    object-fit: contain;
    margin-top: 5px;
  }

  #AvatarPlaceholder {
    width: 80%;
    height: 120%;
    object-fit: contain;
  }

  .pseudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 0 0 0;
    margin: 2% 0 0 0;
  }

  .genreContainerHidden {
    display: none;
  }

  .genreContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    padding: 0 0 2% 0;

    p {
      color: white;
      align-self: left;
      font-size: 1.8rem;
      padding: 0% 0 2% 0;
    }
  }

  .genreTitle {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      padding-top: 5%;
    }
  }

  .genre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  #genre {
    color: #552e61;
    background-color: $buttonBackColor;
    font-weight: 200;
    font-size: 1.4em;
    border-radius: 30px;
    border-bottom: 8px solid $buttonColor;
    width: 150px;
    max-width: 300px;
    height: 80px;
    margin: 1%;
    transition: 0.15s;

    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(1.15);
    }
  }

  .difficultyContainerHidden {
    display: none;
  }

  .difficultyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    padding: 0 0 2% 0;

    p {
      color: white;
      align-self: left;
      font-size: 1.8rem;
      padding: 0% 0 2% 0;
    }
  }

  .difficultyTitle {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      padding-top: 5%;
    }
  }

  .difficulty {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #difficulty {
    color: #552e61;
    background-color: $buttonBackColor;
    font-weight: 200;
    font-size: 1.5em;
    border-radius: 30px;
    border-bottom: 8px solid $buttonColor;
    width: 200px;
    max-width: 300px;
    height: 80px;
    margin: 1%;
    transition: 0.15s;

    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(1.15);
    }
  }
}

@media screen and (max-width: 700px) and (min-height: 500px) and (max-height: 700px) {
  .gameMode {
    padding-top: 15%;
    .avatarPseudo {
      height: 35%;

      input {
        height: 50px;
      }
    }
    .avatarButton {
      width: 90px;
      height: 90px;
    }
    .pseudo p {
      font-size: 1.3em;
    }
    .difficultyContainer,
    .genreContainer {
      height: 30%;

      p {
        font-size: 1.2rem;
      }
    }
    #difficulty,
    #genre {
      height: 50px;
      border-bottom: 6px solid $buttonColor;
      font-size: 1em;
      margin: 2%;
      width: 110px;
    }
    .genre {
      width: 70%;
    }
  }
}

@media screen and (max-height: 499px) {
  .gameMode {
    padding-top: 5%;

    .mainTitleModeContainer {
      height: 20%;
    }
    .avatarPseudo {
      height: 35%;
      input {
        height: 50px;
        font-size: 1.2em;
      }
    }
    .avatarButton {
      width: 60px;
      height: 90px;
    }
    .avatarContainer {
      height: 40%;
      width: 70%;
    }
    .pseudo p {
      font-size: 1.2em;
    }
    .difficultyContainer,
    .genreContainer {
      height: 40%;

      p {
        font-size: 1.2rem;
      }
    }
    #difficulty,
    #genre {
      height: 40px;
      width: 100px;
      border-bottom: 6px solid $buttonColor;
      font-size: 0.9em;
    }
  }
}
