.MovieCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 28vh;
  overflow: hidden;
  color: white;
  font-family: $mainTypo;
  margin-bottom: 3vh;
  text-align: center;
  img,
  p {
    width: 70%;
  }
}
