.GamePage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 98%;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  width: 100%;
  height: 10%;
  background-color: $buttonBackColor;
  border: 8px solid $buttonColor;
  color: #552e61;
  padding: 0px 40px;
  border-radius: 20px;
  font-family: $mainTypo;
  font-size: 2em;
}
.timer-rouge {
  color: red;
  animation-duration: 15s, 0.4s;
  animation-name: size, warning;
  animation-iteration-count: 1, 25;
}
@keyframes size {
  from {
    font-size: 2rem;
  }
  to {
    font-size: 3.5rem;
  }
}
@keyframes warning {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.afficheContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 60vh;
  flex-grow: 0;
}

.afficheContainer img {
  border-radius: 10px;
  max-height: 90%;
  box-shadow: 4px 4px 17px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-height: 600px) {
  .afficheContainer {
    width: 100%;
    max-height: 45vh;
    // background-color: yellow;
  }
}
.movieTitle {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 2.5em;
  font-family: $backupTypo;
  animation: rollout 0.6s;
}

@keyframes rollout {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: none;
  }
}

@media screen and (max-height: 600px) {
  .movieTitle {
    padding-bottom: 10vh;
  }
}
@media screen and (max-width: 600px) {
  .movieTitle {
    font-size: 2em;
  }
}
