.filters {
  .SearchBar {
    position: absolute;
    right: 40px;

    .magnifyingGlass {
      height: 60px;
      width: 60px;
      z-index: 2;
      background-image: url("https://www.shareicon.net/data/512x512/2016/01/07/699394_magnifying-glass_512x512.png");
      background-size: 35px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $buttonBackColor;
      border: 8px solid $buttonColor;
      border-radius: 20px;
    }
  }
  input {
    position: absolute;
    display: none;
    top: 0;
    left: 5%;
    height: 60px;
    background-color: $buttonBackColor;
    border: 8px solid $buttonColor;
    border-radius: 20px;
    animation: displaySearch 1s;
    font-family: $backupTypo;
    font-size: 2em;
  }

  #clickedInput {
    display: block;
    width: 400px;
  }

  @keyframes displaySearch {
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }
}

.clicked {
  background-image: url("https://www.xn--icne-wqa.com/images/icones/2/6/checkmark.png");
  height: 60px;
  width: 60px;
  z-index: 2;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $buttonBackColor;
  border: 8px solid $buttonColor;
  border-radius: 20px;
}

// @media screen and (max-width: 790px) and (min-width: 350px) {
//   #clickedInput {
//     width: 10px;
//   }
// }
@media screen and (max-width: 600px) {
  .SearchBar {
    position: static;
    margin-bottom: 10px;
  }

  input {
    position: static;
    display: block;
    width: 50%;
  }

  #clickedInput {
    width: 50%;
  }
}
