.discoverPage {
  height: 100vh;

  .discoverHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: $buttonBackColor;
    border-bottom: 8px solid $buttonColor;
    color: #552e61;
    padding: 0px 40px;
    border-radius: 0 0 20px 20px;
    font-family: $mainTypo;
    margin-bottom: 2.5vh;

    a {
      color: inherit;
    }
    .retour {
      font-size: 3em;
    }

    p {
      width: 100%;
      font-size: calc(1em + 1vw);
      text-align: center;
    }
  }

  .MovieDetails {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: 15vh;
    left: 10vw;
    width: 80vw;
    max-width: 600px;
    height: 70vh;
    border-radius: 20px;
    background-color: $buttonBackColor;
    border: 8px solid $buttonColor;
    color: #552e61;
    .datePara {
      color: white;
      font-family: $mainTypo;
      font-size: calc(1em + 1vw);
    }
    h1 {
      margin-top: 1vh;
      color: white;
      font-family: $mainTypo;
      font-size: calc(1em + 1vw);
    }
    img {
      margin: 5px 0;
      width: 50%;
      max-width: 180px;
      border-radius: 8px;
    }
    .descPara {
      font-family: $backupTypo;
      font-size: 1em;
      display: flex;
      align-items: center;
      height: 40%;
      padding: 0 3vw;
    }
  }

  .filters {
    position: relative;
    display: flex;
    justify-content: flex-start;

    margin-bottom: 3.5vh;

    .sortingBox {
      position: relative;
      display: flex;
      justify-content: flex-start;
      margin-left: calc(2vw * 2 + 10px);
      height: 60px;
      width: 60%;

      button {
        background-color: $buttonBackColor;
        border-bottom: 8px solid $buttonColor;
        border-radius: 20px;
        padding: 20px 30px;
        color: #552e61;
        font-family: $mainTypo;
        font-size: calc(1vw + 0.5em);
        cursor: pointer;
      }

      .FilterButton {
        padding: 0 20px;
        border: none;
        border-bottom: 8px solid $buttonColor;
        border-radius: 15px;
      }

      .sortList {
        position: absolute;
        display: none;
      }
      #clickedSortInput {
        display: flex;
        width: 100%;
        gap: 10px;
        animation-duration: 10s;
      }

      @keyframes displaySort {
        0% {
          width: 0%;
        }
        100% {
          width: 100%;
        }
      }
    }

    .filteringingBox {
      position: relative;
      button {
        background-color: $buttonBackColor;
        border: 8px solid $buttonColor;
        border-radius: 20px;
        padding: 10px 10px;
        color: #552e61;
        font-family: $mainTypo;
        font-size: 0.9em;
        cursor: pointer;
      }

      .filterList {
        top: 60px;
        left: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
      }
    }
  }
  .movieList {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
  }
}

.none {
  display: none;
}
