.leaderBoard {
  display: flex;
  flex-direction: column;
  // justify-content:flex-start;
  // align-items: center;
  font-family: $mainTypo;
  height: 100%;
  width: 100%;
  // background-color: lightblue;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  // background-color: lightcoral;
}

.resultsCongratsCupScores {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 8px solid $buttonColor;
  width: 80%;
  // background-color:lightgreen;
  background-color: $buttonBackColor;
  height: 100%;
  margin: 0 0 0 0;
}

.congratulation {
  width: 100%;
  text-align: center;
  padding: 1%;
}

.congratulation h1 {
  font-size: 3.5em;
  width: 100%;
  color: $buttonColor;
}

.cupImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cupImage img {
  max-height: 200px;
  height: 80%;
  animation: wiggle 2s linear infinite;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $buttonColor;
  padding: 20px 5 0 5;
  width: 100%;
  margin-top: 2%;
  font-size: 1.1em;
  // background-color: forestgreen;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  // padding: 3% 0 2% 0;
  // background-color: rgb(18, 1, 255);
}

.result:first-child {
  color: $greenColor;
  font-size: 1.6em;
}

.result:nth-child(2),
.result:nth-child(3),
.result:nth-child(4) {
  font-size: 1.3em;
}

.resultAvatarNameTime {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  // background-color: red;
  width: 80%;
}

.resultAvatar {
  display: flex;
  justify-content: center;
  border-radius: 50px;
  margin: 0% 0 0% 0;
  transition: 0.2s;
  overflow: hidden;
  width: 70px;
  height: 70px;
  margin: 1%;
}

.resultNameTime {
  display: flex;
  flex-direction: column;
  // justify-content:center;
  // align-items: center;
  // background-color: blue;
  margin: 2%;
}

.resultName {
  // background-color: orange;
}

.resultTime {
  // background-color: grey;
}

.resultTime {
  opacity: 0.65;
}

.resultPoints {
  text-align: end;
}

.endButons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  gap: 100px;
  height: 20%;
  align-items: center;
}

#restart {
  font-size: 1.5em;
  width: 150px;
  background-color: $buttonBackColor;
  border: 8px solid $buttonColor;
  border-radius: 20px;
  padding: 1%;
  color: #552e61;
  font-family: $mainTypo;
  height: 60px;
  transition: 0.15s;

  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(1.15);
  }
}

@media screen and (max-width: 800px) {
  .congratulation h1 {
    font-size: 1.5em;
    padding: 6% 1% 1% 1%;
  }

  .result:first-child {
    color: $greenColor;
    font-size: 1.2em;
  }

  .result:nth-child(2),
  .result:nth-child(3),
  .result:nth-child(4) {
    font-size: 1em;
  }

  .result {
    font-size: 1em;
  }

  .endButons {
    gap: 10%;
  }

  #restart {
    font-size: 1em;
    height: 50px;
    width: 100px;
  }

  .resultsCongratsCupScores {
    width: 100%;
    margin: 0% 0 0 0;
  }
}

@media screen and (max-height: 800px) {
  .congratulation h1 {
    font-size: 1.5em;
  }

  .result {
    font-size: 1em;
    // background-color: lightgrey;
  }

  .endButons {
    gap: 10%;
  }

  #restart {
    font-size: 1em;
    height: 50px;
    width: 100px;
  }

  .cupImage img {
    max-height: 100px;
  }
  .result:first-child {
    color: $greenColor;
    font-size: 1.2em;
  }

  .result:nth-child(2),
  .result:nth-child(3),
  .result:nth-child(4) {
    font-size: 1em;
  }

  .congratulation h1 {
    margin: 5% 0 0 0;
  }

  .result {
    padding: 2% 0 2% 0;
  }

  .resultAvatar {
    width: 40px;
    height: 40px;
    margin: 1%;
  }
}
@media screen and (max-height: 600px) {
  .result {
    padding: 0.5% 0 0.5% 0;
  }

  .resultAvatar {
    width: 40px;
    height: 40px;
    margin: 0.5%;
  }
  .congratulation h1 {
    margin: 1% 0 0 0;
  }
}
