.leaderBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $mainTypo;
  height: 100%;
  width: 100%;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.resultsCongratsCupScores {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  border: 8px solid $buttonColor;
  width: 80%;
  background-color: $buttonBackColor;
  height: 80%;
  margin: 5% 0 0 0;
}

.congratulation {
  width: 100%;
  text-align: center;
  padding: 1%;
}

.congratulation h1 {
  font-size: 3.5em;
  width: 100%;
  color: $buttonColor;
}

.cupImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cupImage img {
  max-height: 200px;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $buttonColor;
  padding: 20px 5 0 5;
  width: 100%;
}

.result:first-child {
  color: #4caf50;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 0 0 2% 0;
  font-size: 1.5em;
}

#top1Result {
  color: #4caf50;
  // background-color: lightcyan;
  font-size: 1.4em;
}

#top1Time {
  width: 100%;
}

.resultTime {
  opacity: 0.65;
}

.resultPoints {
  text-align: end;
}

.endButons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  gap: 100px;
  height: 20%;
  align-items: center;
  // background-color: lightpink;
}

#restart {
  font-size: 1.5em;
  width: 150px;
  background-color: $buttonBackColor;
  border: 8px solid $buttonColor;
  border-radius: 20px;
  padding: 1%;
  color: #552e61;
  font-family: $mainTypo;
  height: 60px;
}

@media screen and (max-width: 800px) {
  .congratulation h1 {
    font-size: 1.5em;
  }

  #top1Result,
  #top1Name {
    font-size: 1.2em;
    // background-color: lightcoral;
  }

  #top1NameTime {
    width: 70%;
    // background-color: lightgray;
  }

  #top1Time {
    font-size: 0.9em;
    // background-color: red;
  }

  #top1Points {
    font-size: 1.2em;
  }

  .result {
    font-size: 1em;
  }

  .endButons {
    gap: 10%;
  }

  #restart {
    font-size: 1em;
    height: 50px;
    width: 100px;
  }

  .resultsCongratsCupScores {
    width: 100%;
    margin: 15% 0 0 0;
  }
}

@media screen and (max-height: 600px) {
  .congratulation h1 {
    font-size: 1.5em;
  }

  #top1 {
    font-size: 1.2em;
  }

  .result {
    font-size: 1em;
  }

  .endButons {
    gap: 10%;
  }

  #restart {
    font-size: 1em;
    height: 50px;
    width: 100px;
  }

  .cupImage img {
    max-height: 100px;
  }
}
