$darkerGradient: #9b59b6;
$lighterGradient: #c695dd;
$buttonColor: #783c8f;
$buttonBackColor: #eadaf4;
$mainTypo: "Cookies";
$secondaryTypo: "CherryBird";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient($lighterGradient, $darkerGradient);
}

@font-face {
  font-family: "CherryBird";
  src: local("CustomFont1Name"),
    url("./assets/fonts/Cherry Bird.ttf") format("woff");
}

@font-face {
  font-family: "Cookies";
  src: local("CustomFont1Name"),
    url("./assets/fonts/Cookies.ttf") format("woff");
}

@import "./components/Home/StartButton/StartButton.scss";
@import "./components/Home/Home.scss";
@import "./components/GamePage/GamePage.scss";
@import "./components/Countdown/_countdown.scss";
@import "./components/LeaderBoard/LeaderBoard.scss";
@import "./components/GamePage/BlocDeReponse/BlocDeReponse.scss";
