$darkerGradient: #9b59b6;
$lighterGradient: #c695dd;
$buttonColor: #783c8f;
$buttonBackColor: #eadaf4;
$greenColor: #4caf50;
$redColor: #ff5733;
$mainTypo: "Cookies";
$secondaryTypo: "CherryBird";
$backupTypo: "Cappung";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}

body {
  // height: 100vh;
  height: 100%;
  background: rgb(51, 20, 62);
  background: linear-gradient(
    90deg,
    rgba(51, 20, 62, 1) 0%,
    rgba(155, 89, 182, 1) 50%,
    rgba(51, 20, 62, 1) 100%
  );
}

@font-face {
  font-family: "CherryBird";
  src: local("CustomFont1Name"),
    url("./assets/fonts/Cherry Bird.ttf") format("woff");
}

@font-face {
  font-family: "Cookies";
  src: local("CustomFont1Name"),
    url("./assets/fonts/Cookies.ttf") format("woff");
}

@font-face {
  font-family: "Cappung";
  src: local("CustomFont1Name"),
    url("./assets/fonts/Cappung.otf") format("woff");
}

@import "./components/Home/StartButton/StartButton.scss";
@import "./components/Home/Home.scss";
@import "./components/GamePage/GamePage.scss";
@import "./components/Countdown/_countdown.scss";
@import "./components/LeaderBoard/LeaderBoard.scss";
@import "./components/GameMode/GameMode.scss";
@import "./components/GamePage/BlocDeReponse/BlocDeReponse.scss";
@import "./components/GameMode/Avatar/Avatar.scss";
@import "./components/Musique/Musique.scss";
