@font-face {
  font-family: "CherryBird";
  src: local("CustomFont1Name"),
    url("./src/fonts/Cherry Bird.ttf") format("woff");
}

@font-face {
  font-family: "Cookies";
  src: local("CustomFont1Name"), url("./src/fonts/Cookies.ttf") format("woff");
}
