@font-face {
  font-family: "CherryBird";
  src: local("CustomFont1Name"),
    url("./assets/fonts/Cherry Bird.ttf") format("woff");
}

@font-face {
  font-family: "Cookies";
  src: local("CustomFont1Name"),
    url("./assets/fonts/Cookies.ttf") format("woff");
}

@font-face {
  font-family: "Cappung";
  src: local("CustomFont1Name"),
    url("./assets/fonts/Cappung.otf") format("woff");
}